@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}

.header-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #181818;
}

.header-1-logo {
    float: left;
    padding: 7px;
    width: 200px;
}

.header-1-redes-sociais {
    display: flex;
    gap: 32px;
}

.header-1-redes-sociais-twit {
    padding-top: 3px;
}

.header-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 20px 120px 20px 150px;
    border-bottom: 4px solid #efefef;
    gap: 170px;
}

.header-2-menu {
    display: flex;
    gap: 32px;
}

.header-2-menu-item {
    font-family: 'Sarala', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 18px
}

.header-2-menu-item:hover {
    color: #00bac0;
}

.header-2-busca {
    height: 30px;
    width: 250px;
    padding-left: 5px;
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-position: 93%;
}

.main {
    width: 100%;
}

button.slick-prev {
    display: inline-block;
    font-size: 0px;
    border: 0px;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url(../img/seta-previous.png);
    position: absolute;
    z-index: 9;
    top: 42%;
    left: 22%;
}

button.slick-next {
    display: inline-block;
    font-size: 0px;
    border: 0px;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url(../img/seta-next.png);
    position: absolute;
    z-index: 9;
    top: 42%;
    right: 20%;
}

.slick-initialized {
    overflow: hidden;
    height: 449px;
}

.slick-dots li button {
    border: 4px solid #ffffff;
    font-size: 0px;
    border-radius: 50%;
    padding-right: 0;
    background-color: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.slick-dots {
    position: relative;
    left: 46%;
    top: -46px;
}

.slick-dots li {
    display: inline-block;
    padding-left: 13px;
    ;
}

li.slick-active button {
    background-color: #00bac0;
}

.main-2 {
    background-color: rgb(241, 240, 240);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 90px 40px 90px 40px;
    gap: 32px;
    border-top: 2px solid #d8d5d5;
}

.main-2-imagem {
    border-radius: 4.6rem 1rem 4.6rem 1rem;
}

.main-2-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    font-family: 'Sarala', sans-serif;
    color: black;
}

.main-2-texto h2 {
    font-family: 'Righteous', sans-serif;
    color: black;
}

.main-3 {
    display: flex;
    flex-direction: column;
}

.main-3-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    font-family: 'Righteous';
    font-size: 23px;
    border-top: 2px solid #d8d5d5;
}

.main-3-titulo h2 {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.main-3-aprovados {
    display: flex;
    flex-wrap: wrap;
}

.main-3-item {
    margin: 0 auto;
    height: auto;
    border: 1px solid #c5c5c5;
    width: 350px;
    padding: 0 0 20px 0;
    margin-bottom: 20px;
    text-align: center;
}

#a, #b, #c {
    margin-top: 60px;
}

#d, #e, #f {
    margin-top: 20px;
}

.main-3-item-img {
    margin: 0 auto;
    height: 250px;
    width: 350px;
}

.main-3-item-text {
    font-family: 'Sarala', sans-serif;
    color: black;
}

.footer-1 {
    background-color: rgb(241, 240, 240);
    padding: 150px 100px 200px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-1-texto-botao {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.footer-1-texto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-1-texto-titulo {
    font-family: 'Sarala', sans-serif;
    color: black;
    font-size: 27px;
}

.footer-1-texto p {
    text-align: justify;
}

.footer-1-botao button {
    font-style: italic;
    background-image: url(../img/whatsapp.png);
    background-repeat: no-repeat;
    background-position: 8%;
    padding: 10px 20px 10px 40px;
    font-family: 'Sarala';
    color: white;
    background-color: #009841;
    border: 1px solid black;
    border-radius: 10.5px;
}

.footer-1-ctts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.ctts-1 {
    background-image: url(../img/icon-tel.png);
    background-repeat: no-repeat;
    background-position: 1%;
    padding-left: 30px;
}

.ctts-2 {
    background-image: url(../img/icon-end.png);
    background-repeat: no-repeat;
    background-position: 1%;
    padding-left: 30px;
}

.ctts-3 {
    background-image: url(../img/icon-mail.png);
    background-repeat: no-repeat;
    background-position: 1%;
    padding-left: 30px;
}

.footer-2 {
    background-color: #181818;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px 0 25px 0;
}

.footer-2-creditos {
    font-family: 'Sarala';
    color: white;
}

.footer-2-criador {
    color: white;
    font-family: 'Sarala';
}